/* *************************************************************************
 *                     Bootstrap CSS Overrides                             *
 *************************************************************************** */
 
.navbar .brand {
  padding: 0px 8px;
}

.alert {
  padding-left: 2em;
  background: #fdf7f1 url(/csvn/images/icons/icon_warning_sml.gif) 0.4em 0.5em no-repeat;
  border-color: #c60; 
}

.alert-error {
  font-weight: bold;
  background: #fff5f1  url(/csvn/images/icons/icon_error_sml.gif)  0.4em 0.5em no-repeat;
  border-color: #900;
}

.alert-info {
  background: #e7f3fe  url(/csvn/images/icons/icon_info_sml.gif)  0.4em 0.5em no-repeat;
  border-color: #369;
}

.alert-success {
  background: #f8fff4  url(/csvn/images/icons/icon_success_sml.gif) 0.4em 0.5em no-repeat;
  border-color: #090;
}

.sessionmessages .alert, .requestmessages .alert {
  border-top: 2px solid #c60;
  color: black;
}

.sessionmessages .alert-error, .requestmessages .alert-error {
  border-top: 2px solid #900;
  color: black;
}

.sessionmessages .alert-info, .requestmessages .alert-info {
  border-top: 2px solid #369;
  color: black;
}

.sessionmessages .alert-success, .requestmessages .alert-success {
  border-top: 2px solid #090;
  color: black;
}


/* *************************************************************************
 *                     Subversion Edge Specific CSS                        *
 *************************************************************************** */

.sessionmessages, .requestmessages {
  font-size: 110%;
  color: black;
}

.well h2 {
    margin-left: 12px;
    font-size: 18px;    
}

/* For toggles on job details page */
.triggerRunning {
  color: green;
  font-weight: bold;
}

.triggerPaused {
  color: red;
  font-weight: bold;
}

/* For svnedge statistics menu */
.category {
  margin-left: 20px;
  padding-left: 20px;

}
.group {
  margin-left: 10px;
  padding-left: 10px;
}

.graph {
  margin-left: 10px;
  padding-left: 10px;
}

.errors ul{
  background: #fdf7f1 url(/csvn/images/icons/icon_error_sml.gif) 0.4em 0.5em no-repeat;
  border: 1px solid #900; 
  padding: 5px 5px 5px 25px;
}
.errors ul li {
  list-style: none;
}

